* { 
  color: black;
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color:black;
}

.header div {
    padding-top: 15px;
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    display: inline-block
}

.header div ul {
    list-style-type: none;
    display: inline-block;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color:black;
}

.headers {
    color: black;
}

#email {
    background-color: white;
}

#github {
    background-color: white
}

#portfolio {
    background-color: white;
}

img {
    max-width: 300px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}